.width{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.header{
    display: flex;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.headerD{
    background-color: var(--box-color);
}
.darkMode{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}




@media(max-width:640px){
.header{
    padding: 1rem;
    font-size: 14px;
}
.header h1{
    font-size: 16px;
}

}