.gridContainer{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
      width: 95%;
      margin: 0 auto;
}
.gridContainer Link{
    text-decoration: none;
}
.card{
    flex: 1; /* Distribute items equally within the container */
  width: 300px;
  margin: 8px; 
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    overflow: hidden;
}
.cardD{
    background-color: var(--box-color);
}
.flag{
    width:100%;
    height: 160px; 
}
.countryDescriptions{
    color: var(--very-dark-blueLM);
    min-height: 176px;
}
.countryDescriptionsD{
    color: var(--very-light-gray);
}
.emphasis{
    /* color:var(--dark-gray) ; */
    font-weight: 200;
}

.flag img{
    overflow: hidden;
   width: 100%;
height: 100%;
object-fit: cover;
}
.link{
    text-decoration: none;
    color: inherit;
    /* color: ; */
}
.countryDescriptions{
    padding: 1rem ;
    text-decoration: none;
}

.countryDescriptions h4{
    padding: 0.5rem 0;
    text-decoration: none;
    font-size: 18px;
}
.countryDescriptions p{
    font-weight: 700;
    font-size: 14px;
}
.countryDescriptionsD span{
    font-weight: 200;
}


@media (max-width: 640px) {
.gridContainer{
    width: 90%;
    margin: 4rem auto;
    padding: 0;
    flex-direction: column;
   gap: 2rem;
   align-items: center;
   justify-content: center;
}
.card{
    min-width: 95%;
    margin: 0 auto;
}
 }
