.searchFilter{
    margin-top: 3rem;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

.search{
display: flex;
align-items: center;
box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.2);
padding:  1rem;
gap: 0.3rem;
width: 30%;
border-radius: 0.3rem;
color: var(--dark-gray);
}
.darksearch{
  background-color: var(--box-color);
  color: white;
}
.darksearch ::placeholder{
  color: white;
}

.darksearch input{
  color: white;
}

.search input{
border: none;
background-color: inherit;
outline: none;
width: 90%;
}

.filterdiv select{
    height:3rem ;
    /* width: 10rem; */
    padding: 0.5rem 1rem;
    place-items: center;
   border: none;
   box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
   border-radius: 0.3rem;
   outline: none;
   background-color: white;
   outline: none;
   border: none;
   margin-bottom: 1rem;
}
.filterdiv* {
  padding: 0.5rem 1rem; 
  outline: none;
}
.opt{
  display: block;
  margin-top:1rem;
  /* background-color: yellow; */
}

.filDark select{
  background-color: var(--box-color);
  color: white;
  outline: none;

}



@media(max-width:640px){
    .searchFilter{
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

   .search{
    width: 100%;
   }
    
}