@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,700&display=swap')
*::before, *::after {
box-sizing: border-box;
}
* {
 margin: 0;
 --box-color:#2B3844;
  --very-dark-blueDM:#202C36;
  --very-dark-blueLM:#111517;
  --dark-gray:#858585;
  --very-light-gray:#fafafa;
  --white:#ffffff;
}
html, body {
height: 100%;
font-family: 'Nunito Sans', sans-serif;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}


.darkMode{
  --background-color:hsl(209, 23%, 22%);
  --text-color:hsl(0, 0%, 100%);
}